layer-rule {
  match namespace="^kitty$"
  background-effect {
    blur true
    xray false
  }
}

window-rule {
    // match app-id="^ghostty$"
    background-effect {
        blur true
        xray false
    }
}
